@model String  
@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center">
    <div class="card-header">
         Şema Seçim Uygulaması
    </div>
    <div class="card-body">
        <h5 class="card-title">Hoşgeldiniz.</h5>
        <p class="card-text">Kalite Yönetim Sisteminin İşlerini Kolaylaştırmak İçin Geliştirilmiştir.</p>
        <a href="@Url.Action("HangiSchema","Member")" class="btn btn-primary">Şema Seçimine Gitmek İçin Tıkla</a>
    </div>
    <div class="card-footer text-muted">
             
    </div>
</div>